@charset "utf-8";
/* CSS Document */

#header {
    background: url('../images/HeaderLogo.png') center no-repeat;
    width: 99%;
    height: 12em;
    margin: 0 0 60% 0;
    border: 1px black;
    position: absolute;
    clear: both;
}

#columnleft {
    width: 49%;
    height: 20em;
    margin: 15% 50% 20% 0;
    float: left;
    border: 1px black;
    position: absolute;
}

#columnright {
    width: 49%;
    height: 20em;
    margin: 15% 0 20% 50%;
    border: 1px black;
    float: right;
    position: absolute;
}

#partone {
    width: 24%;
    margin: 15% 75% 20% 0;
    height: 325px;
    float: left;
    position: absolute;
}

#parttwo {
    width: 24%;
    margin: 15% 50% 20% 25%;
    height: 325px;
    float: left;
    position: absolute;
}

#partthree {
    width: 24%;
    margin: 15% 50% 20% 50%;
    height: 325px;
    float: right;
    position: absolute;
}

#partfour {
    width: 24%;
    margin: 15% 25% 20% 75%;
    height: 325px;
    float: right;
    position: absolute;
}

#partonebutton {
    width: 240px;
    height: 45px;
    margin: 32% 81% 57% 19%;
    border: 1px black;
    position: absolute;
    background: url('../images/AClassProject.png') center no-repeat;
}

#parttwobutton {
    width: 240px;
    height: 45px;
    margin: 31% 20% 57%;
    border: 1px black;
    position: absolute;
    background: url('../images/FrenchFactions.png') center no-repeat;
}

#partthreebutton {
    width: 240px;
    height: 70px;
    margin: 31% 20% 57%;
    border: 1px black;
    position: absolute;
    background: url('../images/ReadmissionOfTheSouth.png') center no-repeat;
}

#partfourbutton {
    width: 240px;
    height: 45px;
    margin: 32% 8% 57%;
    border: 1px black;
    position: absolute;
    background: url('../images/RoyalsOfBritain.png') center no-repeat;
}

#clbutton {
    background: url('../images/AboutMe.png') center no-repeat;
    width: 200px;
    height: 40px;
    margin: 18% 35% 55%;
    border: 1px black;
    position: absolute;
}

#crbutton {
    background: url('../images/Demos.png') center no-repeat;
    width: 200px;
    height: 40px;
    margin: 18% 35%;
    border: 1px black;
    position: absolute;
}

#explanation {
    padding-right: 2%;
    line-height: 2em;
}

#footer {
    width: 99%;
    margin: 40% 0 0 0;
    clear: both;
    position: absolute;
    border: 1px black;
}
