@charset "utf-8";
/* CSS Document */


#wrap {
    position: relative;
}

#factButton {
    position: absolute;
    margin-top: 5%;
    margin-left: 45%;
    width: 150px;
    border: 1px solid black;
}

#answer {
    position: absolute;
    margin-top: 15%;
    margin-left: 47.5%;
    width: auto;